nav.app-nav li ul {
  min-width: 100px;
}

.pure-g {
	font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
}

.pure-g [class*="pure-u"] {
	font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
	letter-spacing: 0;
}

.card {
	padding: 16px 16px 4px 16px;
	margin-bottom: 24px;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: 0.3s;
}

.card:hover {
	box-shadow: 0 2px 5px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
}

.card p {
	margin: 0;
}

.card a {
	color: darkred;
	text-decoration: none;
}

.card h4 {
	margin: 0 0 0.4em 0;
}

.card h5 {
	margin: 0 0 0.4em 0;
}

kbd.win {
	padding: 2px 3px 2px 3px;
	content: url(/content/images/icons/kbd-win-key.png);
}

a[target="_blank"]::after {
	margin-left: 5px;
	content: url(/content/images/icons/external-link.png);
}

blockquote.siema div {
	padding-right: 20px;
}

dfn {
	display: inline-block;
	display: static;
	border-bottom: 1px dashed;
	text-decoration: none;
}

dfn:hover {
	cursor: help;
}

dfn[aria-label]:hover:after {
	display: block;
	content: attr(aria-label);
	line-height: 1.2rem;
	position: absolute;
	background-color: #C5F7CA;
	border: #c0c0c0 1px dotted;
	padding: 4px 8px 4px 8px;
    /*-webkit-transform: translate(-60%, 60%);
       -moz-transform: translate(-60%, 60%);
        -ms-transform: translate(-60%, 60%);
         -o-transform: translate(-60%, 60%);
            transform: translate(-60%, 60%);*/
	max-width: 300px;
	z-index: 100;
	text-transform: none;
	font-style: normal;
}

dfn a {
	text-decoration: none;
	/*cursor: help;*/
}

a[tooltip-preview] {
	display: inline-block;
	display: static;
}

a[tooltip-preview] img {
	display: none;
}

a[tooltip-preview]:hover img {
	display: block;
	position: absolute;
	background-color: #C5F7CA;
	box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 0;
    /*-webkit-transform: translate(-60%, 20%);
       -moz-transform: translate(-60%, 20%);
        -ms-transform: translate(-60%, 20%);
         -o-transform: translate(-60%, 20%);
            transform: translate(-60%, 20%);*/
	max-width: 300px;
	max-height: 300px;
	z-index: 100;
    /*bottom: 125%;
    left: 50%;
    margin-left: -150px;*/
}

video {
	max-width: 100%;
}

div.youtube-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

iframe.youtube-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.text-center {
   text-align: center;
}

div.center-div {
	margin: 0;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.ph-1 {
	padding-left: 2px;
	padding-right: 2px;
}

.ph-2 {
	padding-left: 4px;
	padding-right: 4px;
}

.ph-3 {
	padding-left: 8px;
	padding-right: 8px;
}

.ph-4 {
	padding-left: 12px;
	padding-right: 12px;
}

.ph-5 {
	padding-left: 16px;
	padding-right: 16px;
}

.ph-6 {
	padding-left: 32px;
	padding-right: 32px;
}

.pv-1 {
	padding-top: 2px;
	padding-bottom: 2px;
}

.pv-2 {
	padding-top: 4px;
	padding-bottom: 4px;
}

.pv-3 {
	padding-top: 8px;
	padding-bottom: 8px;
}

.pv-4 {
	padding-top: 12px;
	padding-bottom: 12px;
}

.pv-5 {
	padding-top: 16px;
	padding-bottom: 16px;
}

.pv-6 {
	padding-top: 32px;
	padding-bottom: 32px;
}